<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>C̢̛͢R̶̴̵̢A̛͠͞Ş́̕͝H̀ ҉̸̴͡S͏̛͠I̷̡̕͟T̸̛É̸͢͝</title>

<link rel="stylesheet" href="app/css/app.css" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


<meta itemprop="url" content="https://crash-site.co.uk/">
<meta property="og:site_name" content="C̢̛͢R̶̴̵̢A̛͠͞Ş́̕͝H̀ ҉̸̴͡S͏̛͠I̷̡̕͟T̸̛É̸͢͝">
<meta property="og:title" content="C̢̛͢R̶̴̵̢A̛͠͞Ş́̕͝H̀ ҉̸̴͡S͏̛͠I̷̡̕͟T̸̛É̸͢͝">
<meta property="og:description" content="C̾ͤ͑ͥ̑͒ͦOͩ͆͗ͣͧ̌̓ͬͧ̾̉ͬ̏ͧ̉͐̀M̊͌͊̂̍̓Iͣ̐͐́̊̐̿̾͛ͪṄ͆̊̈̍̽̎̈͐͛ͭG̃̓̔͌ͤ́̓̆̓ͯ̋̇ ̏̈͛͑͊̑̈́S͛̄̄͗̂ͩ̈́̊͗ͤ̉O͐͂ͮ̾ͮͩ̒̎ͪ͑Ỏͬͬͨͤ̒̾ͯ̓̈̈̂̄̈͐̈̈̿N͐͋̑͒">
<meta property="og:image" content="https://crash-site.co.uk/imgs/bg-image.jpg">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="crash-wrapper">
<p class="show-for-sr"><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
<div class="wrap crash-container" role="document">
  <!-- Fullscreen video: everything supports mp4 now -->
  <div class="flex-video">
    <video id="crash-vid" autoplay muted poster="/dist/images/bg-image.jpg">
      <source src="/dist/images/crash_vid.mp4" type="video/mp4">
    </video>
  </div>
