//////////////////////////////
// LAYOUT & GRID STYLES
//////////////////////////////


.row {
	max-width:96%;
	margin:0;
}

.crash-wrapper {
	background: url('../images/bg-image.jpg') no-repeat 50% 50%;
	background-size: cover;
	height:100vh;
}


.crash-container {
		padding:$margin;
		@media #{$medium-up} {
			max-width:100%;
		}
		@media #{$large-up} {
			padding:2%;
		}
}
.crash-intro {
	background-color: black;
	color:white;
	padding:$margin;
	@media #{$medium-up} {
		max-width:32%;
	}
	@media #{$large-up} {
		padding:2%;
	}
	@media #{$xlarge-up} {
		max-width:24%;
	}
	box-sizing: border-box;
	h1, p, a {
		color:white;
	}
	h1 {
		letter-spacing: 0.5rem;
	}
	a:link {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	svg {
		height: 40px;
		width: 40px;
		margin-top:4rem;
		path {
			stroke: white;
			stroke-width:0.1em;
		}
	}
}



.crash-footer {
	text-align: center;
	p {
		font-size: rem-calc(12);
		color:$crash-mid-grey;
	}
}


.primary {
	// background-color:white;
	// padding:$margin;
	z-index: 2;
	position: relative;
	overflow: hidden;
}


/**
* 7.0 - Accessibility
*/

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.crash-wrapper .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .rm-wrapper .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.crash-wrapper .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

/**
* Utility classes
*/

.-content-padding {
	padding-left:.9375rem;
	padding-right:.9375rem;
}

.-border-bottom {
	border-bottom:1px solid $crash-border;
}

.-border-top {
	border-top:1px solid $crash-border;
}

.-border-left {
	@media #{$medium-up} {
		border-left:1px solid $crash-border;
	}
}

.-border-right {
	@media #{$medium-up} {
		border-right:1px solid $crash-border;
	}
}

.-margin-bottom {
	margin-bottom:$margin;
}

.-margin-top {
	margin-top:$margin;
}

.-padding-bottom {
	padding-bottom:$margin;
}

.-padding-top {
	padding-top:$margin;
}

//Pagination
.pagination {
	margin:0 auto;
	a {
		display: inline-block;
	}
	.current {
		background-color:$crash-red;
	}
}

//Accessibility
.show-on-focus {
    position: absolute;
    top: -1000em;
}
.show-on-focus:focus {
  left:6px;
  top:7px;
  height:auto;
  width:auto;
	display: inline-block;
  font-size:14px;
  font-weight:700;
  padding:15px 23px 14px;
  background:#f1f1f1;
  color:#0073aa;
  z-index:100000;
  line-height:normal;
  text-decoration:none;
  -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);
  box-shadow:0 0 2px 2px rgba(0,0,0,.6)
}
